html{
	background:darkgreen;
}
h2{
	text-align:center;
	color:white;
}
div.menu {
	border: 1px solid darkgreen;
	background: antiquewhite;
	margin-bottom: 5px;
	padding: 1px;
}
#menuBar {
	position: absolute;
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 500px;
}
#gameWindow {
	left: 210px;
	position: absolute;
	width: 700px;
	height: 400px;
	background: #CEFF84;
	margin: auto;
}