h1 {color:brown;
	text-align:center;}
h2 {color:blue;
	text-shadow:3px 3px 10px blue;}
body {background-color:aliceblue;}
form {background-color:pink;}
footer {background-color:orange;
	border-radius:10px 10px;}